<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @molecule.name %>
</p>

<p>
  <b>Molecular weight:</b>
  <%= @molecule.molecular_weight %>
</p>

<h2>Batches</h2>
<table>
  <thead>
      <td>Lot Number</td>
      <td>Amount</td>
      <td>Salt</td>
      <td>Number of Salts</td>
  </thead>
  <% @molecule.batches.each do |batch| %>
    <tr>
      <td><%= link_to batch.lot_number, batch %></td>
      <td><%= batch.amount %></td>
      <td><%= batch.salt.name %></td>
      <td><%= batch.number_salts %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_molecule_path(@molecule) %> |
<%= link_to 'Back', molecules_path %>
