<%= form_for(@salt) do |f| %>
  <% if @salt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salt.errors.count, "error") %> prohibited this salt from being saved:</h2>

      <ul>
      <% @salt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :molecular_weight %><br />
    <%= f.text_field :molecular_weight %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
