<tr id="batch_<%= batch.id %>">
  <td><%= batch.id %></td>
  <td><%= batch.molecule.name %></td>
  <td><%= batch.lot_number %></td>
  <td><%= batch.barcode %></td>
  <td><%= batch.date %></td>
  <td><%= batch.amount %></td>
  <td><%= batch.initial_amount %></td>
  <td><%= batch.salt.name %></td>
  <td><%= batch.formula_weight %></td>
</td>
