<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lot_number %><br />
    <%= f.number_field :lot_number %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label :initial_amount %><br />
    <%= f.text_field :initial_amount %>
  </div>
  <div class="field">
    <%= f.label :salt %><br />
    <%= f.number_field :salt_id %>
  </div>
  <div class="field">
    <%= f.label :formula_weight %><br />
    <%= f.text_field :formula_weight %>
  </div>
  <div class="field">
    <%= f.label :molecule_id %><br />
    <%= f.number_field :molecule_id %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
