<h1>Listing batches</h1>

<table>
  <tr>
    <th>Lot Number</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Barcode</th>
    <th>Initial amount</th>
    <th>Salt</th>
    <th>Formula weight</th>
    <th>Molecule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.lot_number %></td>
    <td><%= batch.date %></td>
    <td><%= batch.amount %></td>
    <td><%= batch.barcode %></td>
    <td><%= batch.initial_amount %></td>
    <td><%= batch.salt %></td>
    <td><%= batch.formula_weight %></td>
    <td><%= batch.molecule_id %></td>
    <td><%= link_to 'Show', batch %></td>
    <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
    <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_batch_path %>
