<p id="notice"><%= notice %></p>

<p>
  <b>Molecule:</b>
  <%= @batch.molecule.name %>
</p>

<p>
  <b>Lot Number:</b>
  <%= @batch.lot_number %>
</p>

<p>
  <b>Date:</b>
  <%= @batch.date %>
</p>

<p>
  <b>Amount:</b>
  <%= @batch.amount %>
</p>

<p>
  <b>Barcode:</b>
  <%= @batch.barcode %>
</p>

<p>
  <b>Initial amount:</b>
  <%= @batch.initial_amount %>
</p>

<p>
  <b>Salt:</b>
  <%= @batch.salt.name %>
</p>

<p>
  <b>Number of Salts:</b>
  <%= @batch.number_salts %>
</p>

<p>
  <b>Formula weight:</b>
  <%= @batch.formula_weight %>
</p>

<h2>Transactions:</h2>
<%= render partial: 'transactions/table_for_batch',
  locals: { transactions: @batch.transactions } %>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
