<tr id="transaction_<%= transaction.id %>">
<td><%= transaction.batch.molecule.name %></td>
<td><%= transaction.batch.lot_number %></td>
<td><%= transaction.amount %></td>
<td><%= transaction.created_at %></td>
</tr>
